.next
next-env.d.ts
node_modules
pnpm-lock.yaml
package-lock.json
public
build
/coverage
/tests
.prettierrc
next.config.ts
postcss.config.mjs
tailwind.config.ts
src/components/ui/
.vscode
.husky
.gitignore
src/app/favicon.ico
DockerFile
components.json
.prettierignore
package.json
src/app/globals.css
tsconfig.json
.dockerignore